*{/*Normalizar Primero*/    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
}/*-------------------------------------------------------------------------*/
.layout1{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
main{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    width: 100%;
    background-color: blue;
    border: .5px solid black;
}/*-------------------------------------------------------------------------*/
footer{
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    width: 100%;
    background-color: rgb(185, 109, 255);
    border: .5px solid black;
    text-align: center;

}/*-------------------------------------------------------------------------*/
.header{
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2em;
    background-color: aquamarine;
    border: .5px solid black;
    box-sizing: content-box;
}
.boxa{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.logo{
    width: 10%;
    height: 10vh;
    object-fit: contain;
    display: flex;
    align-items: end;
}/*-------------------------------------------------------------------------*/
.navbar{
    width: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    
}/* ------------------------------------------------------------------------- */
.navbar a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    height: 50%;
    padding: 1%;
    border-radius: 40px;
    background-color: pink;
    border: 2px solid red;
    cursor: pointer;
    font-size: .5em;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}/*-------------------------------------------------------------------------*/
h1{
    text-align: center;
    font-size: 3em;
}/*-------------------------------------------------------------------------*/
h2{
    text-align: center;
    font-size: 2em;
} /*-------------------------------------------------------------------------*/
.banner{
    width: 100vw;
    height: 200px;
    object-fit: cover;
}/*-------------------------------------------------------------------------*/
.box1{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}/*-------------------------------------------------------------------------*/
.texto{
    width: 80%;
    padding: 30px;
    margin: 30px;
    background-color: rgb(233, 98, 120);
    font-size: 1.5em;
    border-radius: 40px;
}/*-------------------------------------------------------------------------*/
.texto1{
    width: 50vw;
    padding: 20px;
    background-color: rgb(233, 98, 120);
    font-size: 1.5em;
    border-radius: 40px;
    margin: 30px;
}/*-------------------------------------------------------------------------*/
.imagen1{
    height: 200px;
    width: 200px;
    object-fit: contain;
}/*-------------------------------------------------------------------------*/
.imagena{
    height: 160px;
    width: 160px;
    margin: 15px;
    border: 2px solid red;
}/*-------------------------------------------------------------------------*/
.imagencaja{
    display: flex;
    flex-direction: column;
    justify-content: center;
}/*-------------------------------------------------------------------------*/
.textocaja{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}/*-------------------------------------------------------------------------*/
.contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}/*-------------------------------------------------------------------------*/
.imagenc{
    width: 50%;
    height: 300px;
    object-fit: contain;
}/*-------------------------------------------------------------------------*/
.box3{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}/*-------------------------------------------------------------------------*/
.box4{
    width: 100vw;
    height: 25vh;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5em;
}/*-------------------------------------------------------------------------*/
.imagen4{
    width: 200px;
    height: 200px;
    margin: 30px;
}/*-------------------------------------------------------------------------*/
.lista1{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5em;
}/*-------------------------------------------------------------------------*/
.li{
    width: 250px;
}/*-------------------------------------------------------------------------*/
table, th, td, tr {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
}/*-------------------------------------------------------------------------*/
.layout{
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}/*-------------------------------------------------------------------------*/
th{
    background-color: rgb(214, 27, 205);
    font-weight: bold;
    font-size: 1em;
    padding: 10px;
    width: 30%;
}/*-------------------------------------------------------------------------*/
td{
    background-color: rgb(153, 77, 96);
    font-weight: bold;
    font-size: 1em;
    padding: 15px;
    width: 30%;
}/*-------------------------------------------------------------------------*/
caption{
    caption-side: bottom;
    text-align: left;
}/*-------------------------------------------------------------------------*/
.content{
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.boxl{
    width: 50%;
    display: flex;
    justify-content: center;
}
.boxr{
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    box-sizing: content-box;
}
.maps{
    width: 50vw;
    height: 50vh;
    margin-left: 5%;
    margin-top: 2rem;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.label{
    display: flex;
    flex-direction: column;
}
.check{
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
}
fieldset{
    background-color: rgb(201, 31, 192);
}
.main_about{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.box_about{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
@media screen and (min-width: 769px  ) {
    .texto{
        width: 35vw;
    }
    td, th{
        width: 45%;
    }
}
@media screen and (max-height: 980px  ){
    .imagenc{
        width: 80%;
    }
}
@media screen and (max-width: 768px  ){
    .content{
        flex-direction: column;
        margin-top: 20px;
        
    }
    .boxl{
        width: 100%;
        
    }
    .boxr{
        width: 100%;
    }
    .maps{
        width: 80%;
    }

}